header {
    padding-top: 27.8rem;
    padding-bottom: 3.2rem;
}

.header-title{
    font-family: 'RF Dewi';
    font-style: italic;
    font-weight: 900;
    font-size: 6.2rem;
    text-transform: uppercase;
    text-align: left;
    color: #fff;
    line-height: 100%;
}

.header-state_text {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 2rem;
    line-height: 2rem;
    text-align: center;
    color: #fff;
    margin-bottom: 10.1rem;
    margin-top: 2.6rem;
}
.lover{
    font-weight: 400;
    font-size: 1.6rem;
    margin-bottom: 3.7rem !important;
}

.header-btn{
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 15rem;
    width: 33.6rem;
    height: 8.4rem;
    background: #E3FE73;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 138%;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.header-reality_text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 138%;
    text-align: center;
    color: #fffefe;
    margin-bottom: 1.1rem;
}

.header-bonus_img {
    width: 100%;
    margin: 0 auto;
    margin-top: 4rem;
    margin-bottom: 4rem;
    pointer-events: none;
}

.header-list_text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 138%;
    text-align: center;
    color: #fff;
    margin-bottom: 3rem;
}

.header-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 1.7rem;
    row-gap: 2.2rem;
    width: 31.7rem;
    margin: 0 auto;
}

.header-list_item {
    display: flex;
    gap: 0.5rem;
    width: 15rem;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 138%;
    color: #fff;
}

.header-list_item img {
    width: 1.3rem;
    height: 1.3rem;
}

.header-bottom_block {
    position: relative;
    display: flex;
    align-items: center;
    width: 34.1rem;
    height: 8.1rem;
    justify-content: center;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 138%;
    text-align: center;
    color: #fff;
    margin: 0 auto;
    margin-top: 2.5rem;
}

.header-bottom_block img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

.header-bottom_block p {
    position: relative;
}

.burger-menu_button {
    display: flex;
    align-items: center;
    z-index: 30;
    width: 34px;
    height: 16px;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    cursor: pointer;
}

.burger-menu_lines::before,
.burger-menu_lines::after,
.burger-menu_lines {
    right: 0;
    width: 100%;
    height: 3px;
    border-radius: 8px;
    background-color: #706F6F;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

.close-menu {
    position: absolute;
    top: 20px;
    left: 3rem;
    width: 5rem;
    height: 5rem;
    cursor: pointer;
}

.burger-menu_lines {
    position: relative;
    /* transform: translate(-50%, -50%); */
}

.burger-menu_lines::before {
    position: absolute;
    content: '';
    top: -8px;
}

.burger-menu_lines::after {
    position: absolute;
    content: '';
    top: 8px;
}

.burger-menu_nav {
    padding-top: 10.6rem;
    position: fixed;
    top: 0;
    z-index: 20;
    display: flex;
    flex-direction: column;
    height: 69.1rem;
    width: 21.3rem;
    backdrop-filter: blur(3rem);
    -webkit-backdrop-filter: blur(3rem);
    background: rgba(37, 37, 37, 0.5);
    overflow-y: auto;
    right: -300%;
    gap: 3rem;
    border-radius: 1rem 0rem 1rem 1rem;
    -webkit-transition: 0.8s;
    -moz-transition: 0.8s;
    -o-transition: 0.8s;
    transition: transform 3s cubic-bezier(0, 0.99, 0.8, 0.8);;
}

.burger-menu_link {
    display: block;
    font-size: 1.8rem;
    text-transform: uppercase;
    padding-left: 3rem;
    padding-right: 3rem;
    font-weight: 400;
}

.burger-menu_active .burger-menu_nav {
    transform: translateX(-600%);
    -webkit-transition: 0.2s linear;
    -moz-transition: 0.2s linear;
    -o-transition: 0.2s linear;
    transition-duration: 0.2s;
    transition: transform 0.8s cubic-bezier(0, 0.99, 0.8, 0.8);
    overflow: hidden;
    display: flex;
}

.burger-menu_overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
}

.burger-menu_active .burger-menu_overlay {
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
}

.rect{
    border-radius: 100%;
    background: rgba(227, 254, 115, 0.7);
    filter: blur(15rem);
    position: absolute;
    z-index: -1;
    right: -28rem;
    top: 30rem;
    height: 48.1rem;
    width: 33.4rem;
}

.top-wrap{
    backdrop-filter: blur(1.5rem);
    -webkit-backdrop-filter: blur(1.5rem);
    background: rgba(0, 0, 0, 0.2);
    height: 7.6rem;
    width: 100%;
    display: flex;
    align-items: center;
    z-index: 1;
    position: fixed;
    justify-content: space-between;
    padding: 0rem 4.6rem 0rem 4.6rem;
    max-width: 428px;
    border-bottom: 1px solid rgba(56, 56, 56, 1);
}

.dropbtn {
    background: none;
    color: white;
    padding: 1.6rem;
    font-size: 1.5rem;
    border: none;
    cursor: pointer;
    width: 6.9rem;
}



.dropdown {
    position: relative;
    display: inline-block;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #1a1a1a;;
    min-width: 6.9rem;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}


.dropdown-content a {
    color: #fff;
    text-align: center;
    text-decoration: none;
    display: block;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
}


.dropdown-content a:hover {background-color: #2a2a2a;}


.show {display:block;}
